streamlit>=1.28.0
flask
flask-cors
pandas
numpy
scikit-learn
nltk
torch
joblib
SQLAlchemy
python-dotenv
tqdm
vaderSentiment
textblob
emoji
plotly
matplotlib
seaborn
Werkzeug
altair>=5.0.0